* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    background-color: rgb(33, 1, 43) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


h1 {
    position: absolute;
    color: aliceblue;
    font-size: 100px;
    height: 100px;
}
input {
    height: 30px;
    position: absolute;
    margin-top: 200px;

}


canvas {
    width: 100vw;
    height: 100vh;
}